/* Устанавливаем 100% для html и body */
html, body {
  height: 100%;
}

/* Контейнер, который будет растягиваться на всю высоту */
#__next { /* Или другой контейнер, который ты используешь */
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px){
  .vh-sm-100 {
    height: 100vh;
  }
}

.bordered-row:hover{
  border: 2px solid black;
}

.background-color-graphite {
  background-color: #343a40;
}

/* Кнопка "бургер-меню" */
.sidebar-toggle {
  background-color: #343a40;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.sidebar-toggle:hover {
  background-color: #495057;
}

/* Линии кнопки */
.burger-line {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
}

/* Медиазапрос для уменьшения ширины сайдбара на мобильных устройствах */
@media (max-width: 768px) {
  .offcanvas-start {
    width: 280px !important; /* Уменьшаем ширину сайдбара на мобильных */
  }
}

.btn-close {
  filter: invert(1) !important; /* Инвертирует цвета, делает крестик белым */
  color: white !important; /* Устанавливает цвет крестика в белый */
  background-color: transparent !important; /* Убирает фон кнопки */
}

.btn-close:hover {
  color: white !important; /* Крестик остается белым при наведении */
  background-color: transparent !important; /* Без фона при наведении */
}

.nav-item:hover .nav-link {
  color: lightgrey !important; /* Цвет текста при наведении */
}