/* Основные стили для сайдбара */
.sidebar {
    transition: width 0.3s ease;
    overflow-x: hidden; /* Обрезаем элементы, выходящие за пределы */
}

.sidebar-open {
    width: 250px;
}

.sidebar-closed {
    width: 0;
}

/* Стили для кнопки скрытия/открытия сайдбара */
.sidebar button {
    position: absolute;
    top: 20px;
    left: 250px;
    transition: left 0.3s ease;
}

.sidebar-closed button {
    left: 0;
}

/* Стили для контента */
.content {
    transition: margin-left 0.3s ease;
}

.sidebar-open + .content {
    margin-left: 250px; /* Когда сайдбар открыт, сдвигаем контент */
}